@import url(https://fonts.googleapis.com/css?family=Abel:regular);

body {
  padding: 1rem;
  font-family: Abel;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 15rem;
  font-size: 1.3rem;
  font-weight: bold;
}



.nav {
  
  display: flex;
  justify-content: space-between;
}


.App {
  max-width: 500px;
  margin: 0 auto;
}

.main-h1 {
  font-size: 3rem;
  /* font-weight: ; */
}